services:
  client:
    build:
      context: ./client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app:Z
      - /app/node_modules
    environment:
      - API_TARGET=http://web:5000
    depends_on:
      - web
    restart: unless-stopped
  web:
    build: .
    ports:
      - "8080:5000"
    volumes:
      - .:/app:Z
    environment:
      - MONGO_URI=mongodb://root:password123@mongodb:27017/?authSource=admin
    env_file:
      - .env
    depends_on:
      - mongodb
    restart: unless-stopped

  mongodb:
    image: mongo:7
    container_name: hmeicr-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password123
      MONGO_INITDB_DATABASE: hmeicr

      MONGO_APP_DB: myapp
      MONGO_APP_USER: myapp_user
      MONGO_APP_PASSWORD: ${MONGO_APP_PASSWORD}
    volumes:
      - ./mongo-data:/data/db:Z
      - ./mongo-init.js:/docker-entrypoint-initdb.d/init.js:ro
