--extra-index-url https://download.pytorch.org/whl/cpu
python-dotenv

flask
flask-login
pymongo
python-dotenv
passlib
cryptography
requests
flask-limiter
flask-wtf
flask-talisman
email-validator

selenium
fake_useragent

torch
torchvision
torchaudio

easyocr
