--extra-index-url https://download.pytorch.org/whl/cpu
python-dotenv

flask
flask-login
passlib[bcrypt]
pymongo
cryptography
celery

selenium
requests
fake_useragent

torch
torchvision
torchaudio

easyocr
